/*
# Everything except the specified files
!readme.md
!.gitignore
# SVG file for the sample images
!penguin.svg
!root/
# For screenshots and such
!contrib/

root/*
!root/images
!root/includes
!root/language
!root/styles

# Sample image files
root/images/*
!root/images/dynamo/

# Include files
root/includes/*
!root/includes/acp
root/includes/acp/*
!root/includes/acp/acp_dynamo.php
!root/includes/acp/info
root/includes/acp/info/*
!root/includes/acp/info/acp_dynamo.php

# Language files
root/language/*
!root/language/en
root/language/en/*
!root/language/en/mods
root/language/en/mods/
!root/language/en/mods/dynamo

# Template files
root/styles/*
!root/styles/prosilver
root/styles/prosilver/*
!root/styles/prosilver/template
root/styles/prosilver/template/*
!root/styles/prosilver/template/*dynamo*

# Making the effort
