/*
# Everything except the specified files
!readme.md
!.gitignore
# SVG file for the sample images
!penguin.svg
!root/
# For screenshots and such
!contrib/

root/*
!root/images/

root/images/*
# Sample image files
!root/images/dynamo/

# Include files
!root/includes/acp/acp_dynamo.php
!root/includes/acp/info/acp_dynamo.php

# Language files
!root/language/en/mods/dynamo/acp.php

# Never mind too much effort to make this file work
