<!-- INCLUDE ucp_header.html -->

<!-- the JS file for the dynamic part -->
<script src="{ROOT_PATH}jquery-1.9.1.min.js"></script>
<script src="{T_TEMPLATE_PATH}/dynamo.js"></script>
<style type="text/css">
#dynamo-wrap {
	height: 300px;
	width: 100%;
	position: relative;
}

#preview-pane {
	width: 200px;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	margin: 0 auto;
}

#preview-pane img {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

#items-pane {
	position: absolute;
	left: 200px;
	right: 175px;
	height: 100%;
	overflow: auto;
}

#items-pane .item-box {
	display: inline-block;
	text-align: center;
	margin-bottom: 15px;
	vertical-align: top;
}

#layers-pane {
	width: 175px;
	height: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
	overflow-y: auto;
}

.cplist li {
	height: 40px;
	font-size: 1.1em;
	font-weight: bold;
	line-height: 40px;
}

.cplist li a {
	text-decoration: none;
	display: block;
	width: 165;
	height: 100%;
	padding-left: 10px;
}

.dynamo-item {
	width: {IMAGE_WIDTH}px;
	height: {IMAGE_HEIGHT}px;
}
</style>

<h2>{L_TITLE}</h2>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<p>{L_DYNAMO_EXPLAIN}</p>
	<form method="post" action="{U_ACTION}">
		<div id="dynamo-wrap">
			<div id="preview-pane" class="bg1">
				<!-- BEGIN image -->
				<img id="layer-{image.LAYER_ID}" style="z-index: {image.POSITION};" class="dynamo-item" src="{image.URL}" data-original="{image.ORIGINAL}" data-default="{image.DEFAULT}" />
				<!-- END image -->
			</div>
			<div id="items-pane" class="panel">
				<!-- BEGIN layer -->
					<div id="layer-{layer.ID}-anchor" class="layer-box">
						<h3>{layer.NAME}</h3>
						<p>{layer.DESC}</p>
						<p>{L_MANDATORY}: <!-- IF layer.MANDATORY --><strong>{L_YES}</strong><!-- ELSE -->{L_NO}<!-- ENDIF --></p>
						<hr />
						<!-- BEGIN item -->
						<div class="item-box">
							<label>
								<img src="{layer.item.URL}" class="item-button dynamo-item" title="{layer.item.DESC}" alt="{layer.item.NAME}" data-layer="{layer.ID}" data-item="{layer.item.ID}" /><br />{layer.item.NAME}<br />
								<!-- IF layer.item.CAN_BUY == 0 -->
								<input type="radio" id="layer-{layer.ID}-{layer.item.ID}-radio" name="inventory-layer-{layer.ID}" value="{layer.item.ID}" class="item-button" data-layer="{layer.ID}" data-item="{layer.item.ID}" <!-- IF layer.item.ID == layer.TRUE_ITEM -->checked="checked"<!-- ENDIF --> />
								<!-- ENDIF -->
							</label>
							<!-- IF layer.item.CAN_BUY -->
								<br />
								<button name="shop_submit" value="{layer.item.ID}"<!-- IF layer.item.PRICE > USER_POINTS -->disabled="disabled"<!-- ENDIF -->>{layer.item.PURCHASE_MESSAGE}</button>
							<!-- ENDIF -->
						</div>
						<!-- END item -->
					</div>
				<!-- END layer -->
			</div>
			<div id="layers-pane">
				<ul class="topiclist cplist">
					<!-- BEGIN layer -->
					<li class="row bg1"><a data-layer="{layer.ID}" href="#layer-{layer.ID}-anchor" title="{layer.DESC}">{layer.NAME}</a></li>
					<!-- END layer -->
				</ul>
			</div>
		</div>

		<fieldset class="submit-buttons">
			<input type="reset" value="{L_RESTORE_ORIGINAL}" name="reset" class="button2" data-suffix="original" />&nbsp;
			<input type="reset" value="{L_RESTORE_DEFAULT}" name="reset" class="button2" data-suffix="default" />&nbsp;
			<input type="submit" name="inventory_submit" value="{L_SUBMIT}" class="button1" />
		</fieldset>
	</form>

	<span class="corners-bottom"><span></span></span></div>
</div>

<!-- INCLUDE ucp_footer.html -->
