<!-- INCLUDE ucp_header.html -->

<!-- the JS file for the dynamic part -->
<script src="{T_TEMPLATE_PATH}/jquery-1.7.1.min.js"></script>
<script src="{T_TEMPLATE_PATH}/dynamo.js"></script>

<h2>{L_TITLE}</h2>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
	
	<p>{L_DYNAMO_EXPLAIN}</p>
	
	<form method="post" name="dynamo" action="{U_ACTION}">
	
<!-- tables tables everywhere -->
<table>
	<tr>
		<td style="width: 50%; vertical-align: top; text-align: center;" id="item-images">
			<!-- BEGIN images -->
			<img id="layer-{images.LAYER_ID}" style="z-index: {images.POSITION}; position: absolute; width: {IMAGE_WIDTH}px; height: {IMAGE_HEIGHT}px;" src="<!-- IF images.ITEM_EXISTS -->{images.ITEM_IMAGE}<!-- ELSE -->images/spacer.gif<!-- ENDIF -->" data-original="{images.ITEM_ID}" data-default="{images.DEFAULT_ITEM}" />
			<!-- END images -->
		</td>
		<td>
	<!-- BEGIN item -->
<!-- IF item.NEW_LAYER && item.FIRST_LAYER == false -->
		</tr>
	</tbody>
</table>
<br />
<!-- ENDIF -->
<!-- IF item.NEW_LAYER -->
<table cellspacing="1">
	<col class="col1" /><col class="col2" /><col class="col1" /><col class="col2" /><col class="col1" />
	<thead>
		<tr>
			<th colspan="6" style="text-align: left;">{item.LAYER_NAME}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
		<!-- IF item.IS_MANDATORY == 0 -->
			<td style="text-align: center;"><label>None<br /><input type="radio" id="layer-{item.LAYER_ID}-0-radio" name="layer-{item.LAYER_ID}" value="0" class="item-button" data-layer="{item.LAYER_ID}" data-item="0" {item.NONE_SELECTED} /></label></td>
		<!-- ENDIF -->
<!-- ENDIF -->
			<td style="text-align: center;"><label><img src="{item.ITEM_IMAGE}" title="{item.ITEM_DESC}" alt="{item.ITEM_NAME}" /><br />{item.ITEM_NAME}<br /><input type="radio" id="layer-{item.LAYER_ID}-{item.ITEM_ID}-radio" name="layer-{item.LAYER_ID}" value="{item.ITEM_ID}" class="item-button" data-layer="{item.LAYER_ID}" data-item="{item.ITEM_ID}" {item.SELECTED} /></label></td>
			<!-- IF item.NUM_IN_LAYER % 6 == 0 -->
			</tr>
			<tr>
			<!-- ENDIF -->
<!-- END item -->
<!-- IF .item -->
<!-- for the very end of the loop, if there is content in it -->
		</tr>
	</tbody>
</table>
<!-- ENDIF -->
		</td>
	</tr>
</table>
<fieldset class="submit-buttons">
	<input type="reset" value="Restore original items" name="reset" class="button2" id="restore-original" />&nbsp;
	<input type="reset" value="Restore default items" name="reset" class="button2" id="restore-default" />&nbsp;
	<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
</fieldset>

</form>

	<span class="corners-bottom"><span></span></span></div>
</div>

<!-- INCLUDE ucp_footer.html -->
